<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/jee     http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/> <!-- To link beans with annotation @Autowired inside another beans -->
    <context:component-scan base-package="com.gsd.gatorrenter"/> <!-- Register beans in the container -->

    <!-- Using spring-orm dependency -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
        <property name="persistenceUnits">
            <map>
                <entry key="GatorRenterPU" value="jdbc/gr"/>
            </map>
        </property>
    </bean>

    <!-- using spring-tx dependency -->
    <tx:jta-transaction-manager/>
    <tx:annotation-driven/>

    <jee:jndi-lookup id="GatorRenterPU" jndi-name="jdbc/gr"/>

</beans>